# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- Virtual environments ---
venv/
.env/
.venv/

# --- Distribution / packaging ---
build/
dist/
*.egg-info/
.eggs/

# --- PyInstaller ---
*.spec

# --- Unit test / coverage ---
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# --- IDE / editor ---
.vscode/
.idea/

# --- Jupyter ---
.ipynb_checkpoints/

# --- OS files ---
.DS_Store
Thumbs.db

/sprawozdanie