services:
  web-app:
    build: .
    ports:
      - "5000:5000"
    environment:
      - ENV=production
    depends_on:
      - redis-db
    networks:
      - my-network

  redis-db:
    image: redis:alpine
    restart: always
    networks:
      - my-network

networks:
  my-network:
    driver: bridge